<div id="game-container">
  <div id="scoreboard">
    <div class="score-box player-x">
        <h3>Player X</h3>
        <p id="player-x-score">0</p>
    </div>
    <div class="score-box draw">
        <h3>Draw</h3>
        <p id="draw-score">0</p>
    </div>
    <div class="score-box player-o">
        <h3>Player O</h3>
        <p id="player-o-score">0</p>
    </div>
  </div>

  <h2>
    <% if session[:game_status].to_s == 'finished' %>
      <span id="current_turn"><%= flash[:notice] || "Juego terminado" %></span>
    <% else %>
      Turno actual: <span id="current_turn"><%= @current_turn %></span>
    <% end %>
  </h2>
  <div id="game-board">
  <% @board.board.each_with_index do |cell, index| %>
    <div class="cell">
      <% if session[:game_status].to_s == 'finished' %>
        <button class="cell-button" disabled><%= cell %></button>
      <% else %>
        <%= form_with url: make_move_path, method: :post, local: true do |form| %>
          <%= form.hidden_field :cell_index, value: index %>
          <button type="submit" class="cell-button"><%= cell %></button>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>